body {
  margin: 0px;
  background-color: rgba(218, 180, 158, 0.74) !important;
}
nav {
  display: flex;
  justify-content: center;
}
nav > a {
  padding: 25px 100px;
  background-color: rgba(211, 113, 56, 0.482);
  text-decoration: none;
  color: rgba(171, 49, 88, 0.655);
}
nav > a:hover {
  background-color: rgba(43, 217, 156, 0.37);
}
header {
  text-align: center;
  background-color: rgba(157, 132, 5, 0.493) !important;
}
header > h2 {
  padding: 15px 0;
}
ul {
  padding: 0px !important;
}
header > ul > li {
  display: inline-block;
  /* justify-content: space-around; */
  padding: 15px 50px;
  margin: 10px 5px;
  background-color: rgba(231, 210, 108, 0.545);
}
.main {
  display: flex;
}
.main > div {
  display: inline;
  width: 45%;
  margin: auto;
}
.main > div > p {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(214, 162, 93, 0.451);
  width: 99%;
}
.snapshotListTable {
  width: 98%;
}
.dllListTable {
  width: 98%;
}
.processList {
  width: 100%;
}
/* 
th,
td {
  border: 1px solid black;
  padding: 0 !important;
} 
*/

.myBtn {
  background-color: rgba(241, 246, 85, 0.7);
  /* FOR EVRY SECEND LINE background-color: rgba(241, 246, 85, 0.4); */
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  /* border: 1px solid black; */
}
.myBtnHead {
  background-color: rgba(157, 132, 5, 0.519);
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  /* border: 1px solid black; */
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.about > div > a {
  color: black;
  margin-right: 35px;
}
.about > div > a > i {
  font-size: 100px;
}
.onebtn {
  position: relative;
  right: 25px;
  bottom: 30px;
}
.twobtn {
  position: relative;
  left: 30px;
}
