body {
  margin: 0px;
  background-color: rgba(218, 180, 158, 0.74) !important;
}
nav {
  display: flex;
  justify-content: center;
}
nav > a {
  padding: 25px 100px;
  background-color: rgba(211, 113, 56, 0.482);
  text-decoration: none;
  color: rgba(171, 49, 88, 0.655);
}
nav > a:hover {
  background-color: rgba(43, 217, 156, 0.37);
}
header {
  text-align: center;
  background-color: rgba(157, 132, 5, 0.493) !important;
}
header > h2 {
  padding: 15px 0;
}
ul {
  padding: 0px !important;
}
header > ul > li {
  display: inline-block;
  /* justify-content: space-around; */
  padding: 15px 50px;
  margin: 10px 5px;
  background-color: rgba(231, 210, 108, 0.545);
}
.main {
  /* display: flex; */
}
.main > div {
  display: inline;
  width: 45%;
  margin: auto;
}
.main > div > p {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(214, 162, 93, 0.451);
  width: 99%;
}
.snapshotListTable {
  width: 98%;
}
.dllListTable {
  width: 98%;
}
.processList {
  width: 100%;
  table-layout: fixed;
}
.processBtn {
  background-color: rgba(148, 227, 37, 0.697) !important;
  position: absolute;
  top: 80px;
  left: 40px;
}
.myBtn1 {
  background-color: rgba(241, 246, 85, 0.7);
  border-radius: 20px;
  padding: 8px 0px;
  text-align: center;
  border: 1px solid rgba(246, 130, 6, 0.523);
}
.myBtn2 {
  background-color: rgba(241, 246, 85, 0.4);
  border-radius: 20px;
  padding: 8px 0px;
  text-align: center;
  border: 1px solid rgba(5, 208, 239, 0.399);
}
.myBtnHead {
  background-color: rgba(157, 132, 5, 0.519);
  border-radius: 20px;
  padding: 8px 0px;
  text-align: center;
  border: 1px solid rgba(238, 192, 10, 0.51);
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.about > div > a {
  color: black;
  margin-right: 35px;
}
.about > div > a > i {
  font-size: 100px;
}
.onebtn {
  position: relative;
  right: 25px;
  bottom: 30px;
}
.twobtn {
  position: relative;
  left: 30px;
}

.dropbtn {
  background-color: #ffa600e8;
  color: white;
  padding: 2px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  right: 0px;
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #eeb14ed2;
}

.processNameBTN {
  width: 25%;
}

.nameBtn {
  overflow: auto;
}
